@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.from-cont {
    display: flex;
    margin-top: 75px;
    padding: 50px 130px;
}

.profile-part {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.profile {
    width: 350px;
    border-radius: 50%;    
}

.ctc-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ctc-links {
    text-decoration: none;
    color: #fff;
    background-color: #3B82F6;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Roboto Mono';
    width: 200px;
    text-align: center;
}