html {
    scroll-behavior: smooth;
}

/* 1. Define your colors for Light Mode */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --link-color: #4B5563;
  --header-color: rgba(255, 255, 255, 0.85);
  --card-color: #ffffff;
  --input-color: white;
  --border-textarea-color: rgb(193, 193, 193);
  --footer-color: #ffffff;
}

/* 2. Define your colors for Dark Mode */
body.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #f5f5f5;
  --header-color: #1F2937;
  --card-color: #111827;
  --input-color: #1E293B;
  --border-textarea-color: #334155;
  --footer-color: #1F2937;
}

/* 3. Apply the variables to the body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  font-family: sans-serif;
}