.prj-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    scroll-margin-top: 100px;
}

.cards {
    height: fit-content;
    flex-wrap: wrap;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.tile-prj {
    width: 100%;
    color: #3B82F6;
    display: flex;
    justify-content: center;
    font-size: 50px;
}